@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-container {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
}

.input-range__track--active {
  @apply bg-[#ec5e2a];
}

.input-range__slider {
  @apply bg-[#ec5e2a] border-[#ec5e2a];
}

.input-range__label {
  @apply text-[#000000] text-sm font-bold;
}
.input-range__track--background,
.input-range__slider-container {
  @apply bg-[#f8c2ae];
}
@media (max-width: 768px) {
  .custom-container {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
  }
}
@media (max-width: 640px) {
  .custom-container {
    width: 100%;
    max-width: 620px;
    margin: 0 auto;
  }
}
